.maincontent{
	float: left;
	display: block;
	background-color: white;
	padding: 20px;
	width: 65%;
	height: auto;
	margin-top: 10px;
}
.maincontentUPpart{
	position: relative;
	width: 100%;
}

.headiconblock{
	float: left;
}
.headicon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}


.usercontent{
	float: left;
	margin-left: 10px;
}
.username{
	font-weight: bold;
	font-size: large;
	margin-bottom: 5px;
}
.usernormalinfo{
	float: left;
	font-size: medium;
}
.usersendtime{
	float: left;
}
.userdevice{
	float: left;
	margin-left: 10px;
}
.usermonmentstatus{
	float: left;
	margin-left: 10px;
}




.maincontentDOWNpart{
	width: 100%;
	position: relative;
}
.MomentInfo{
	position: relative;
	margin-top: 5px;
}
.MomentText{
	
	margin-top: 10px;
}
.MomentImg{
	width: 200px;
	height: 200px;
}